name: Deploy Docs

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
        
      - name: Setup NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - run: npm ci

      - run: npm run build

      - name: Publish to Chromatic
        working-directory: ./packages/docs
        run: npx chromatic
        env:
          CHROMATIC_PROJECT_TOKEN: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}